.container {
    margin-top: 250px;
    text-align: center;
}

.button {
    background-color: rgb(69, 146, 247);
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: large;
    color: white;
    
}

.button:hover {
    background-color: rgb(11, 115, 235);
    color: rgb(182, 179, 179);
}

.button:active {
    transform: translateY(2px);
}